svg:nth-child(1) {display: none;}
ul {
	z-index:1;
	position: absolute;
	list-style-type: none;
}
#nat {
	width: 100%;
	height: 100vh;
	background-color: #6f736e;
}

#yeojin {
	background-color: #d4c8bd;
}