ul {
	z-index:1;
	position: absolute;
	list-style-type: none;
}
#nat {
	width: 100%;
	height: 100vh;
	background-color: #fff;
}
#yeojin {display: none;}

ul {
	list-style-type: none;
}
a {
	font-family: sans-serif;
	text-transform: uppercase;
	font-size: 25px;
	color: black;
	text-decoration: none;
}